@model OnlineStore.UI.Web.Models.LoginModel
@{
    ViewBag.Title = "Login";
}
<div class="login">
    <div class="container">
        <div class="login-main">
            <h1>Login</h1>
            <div class="col-md-6 login-left">
                <h2>Si ya te registraste, usa tu Email para ingresar</h2>
                @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm" }))
                {
                    @Html.AntiForgeryToken()
                    @*<input type="text" placeholder="Username" required="">*@
                    @*@Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "span12" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                    @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "span12", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    @*<input type="password" placeholder="Password" required="">*@
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <input type="submit" value="Login">
                }
            </div>
            <div class="col-md-6 login-right">
                <h3>¿Eres un usuario nuevo? </h3>
                <p>Crea una cuenta</p>
                @*<a href="signup.html" class="login-btn">Create an Account </a>*@
                @Html.ActionLink("Registrarse", "Register", "Customer")
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

