@model OnlineStore.UI.Web.Models.LoginModel
@{
    ViewBag.Title = "Login";
}
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="module module-login span4 offset4">
                @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-vertical">
                        <div class="module-head">
                            <h3>Ingresa al sistema</h3>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="module-body">
                            <div class="control-group">
                                <div class="controls row-fluid">
                                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "span12" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls row-fluid">
                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "span12", @type = "password" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="module-foot">
                            <div class="control-group">
                                <div class="controls clearfix">
                                    <button type="submit" class="btn btn-primary pull-right">Ingresar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
