@model OnlineStore.UI.Web.Models.RegisterModel
@{
    ViewBag.Title = "Login";
}
<div class="signin">
    <div class="container">
        <div class="signin-main">
            <h1>Crea tu cuenta</h1>
            <h2>Información</h2>
            @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "RegisterForm" }))
            {
                @Html.AntiForgeryToken()
                @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { placeholder = "Nombre" } })


                @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "no-margin", placeholder = "E-mail" } })


                @*@Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })*@
                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "", placeholder = "Teléfono" } })


                @*@Html.LabelFor(model => model.RPassword, htmlAttributes: new { @class = "control-label col-md-2" })*@
                @Html.EditorFor(model => model.RPassword, new { htmlAttributes = new { @class = "no-margin", @type = "password", placeholder = "Clave" } })

                @*<input type="text" placeholder="Username">
            <input type="text" class="no-margin" placeholder="E-mail">
            <input type="password" placeholder="Password" required="" />
            <input type="password" class="no-margin" placeholder="Confirm Password" required="" />*@
                @*<span class="checkbox1">
                <label class="checkbox"><input type="checkbox" name="" checked=""><i> </i>i agree terms of use and privacy</label>
            </span>*@
                <div>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</div>
                <div>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</div>
                <div>@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</div>
                <div>@Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })</div>
                <div>@Html.ValidationMessageFor(model => model.RPassword, "", new { @class = "text-danger" })</div>
                <input type="submit" value="Submit">
            }
        </div>
    </div>
</div>
