@model OnlineStore.UI.Web.Models.OrdersModel
@{
    ViewBag.Title = "Orders";
}


<div class="module">
    <div class="module-head">
        <div class="module-option clearfix">
            <div class="pull-left"><h3>Ordenes registradas</h3></div>

           
        </div>
    </div>
    <div class="module-body table">
        <table cellpadding="0" cellspacing="0" border="0" class="datatable-1 table table-bordered table-striped	 display" width="100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Producto</th>
                    <th>Piezas</th>
                    <th>Monto</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Orders)
                {
                    <tr class="gradeC">
                        <td>@item.OrderId</td>
                        <td>@item.Product</td>
                        <td>@item.Pieces</td>
                        <td>@item.Amount</td>
                        <td>
                            @item.Status
                        </td>
                        @*<td>*@
                            @*<button class="cell-showUserDetail" data-userid=@item.UserId data-operation="1">Editar</button>*@
                            @*<div class="gridIcon">
                                    <img src="~/images/Edit.png" class="cell-showUserDetail cursor-pointer" data-userid=@item.UserId data-operation="1" />
                                </div>*@
                        @*</td>*@
                        <td>
                            @if (item.Status == "Pendiente")
                            {
                            <div>
                                <button class="cell-showUserDetail" data-userid=@item.OrderId data-customerid=@item.CustomerId data-operation="2">Pagar</button>
                                <button class="btn btn-primary" id="btnNewUser">Nuevo Usuario</button>
                            </div>
                            }

                            @*<div class="gridIcon">
                                        <img src="~/images/Delete.png" class="cell-showUserDetail cursor-pointer" data-userid=@item.UserId data-operation="2" />
                                </div>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>